body{
    background-color: hsl(52, 53%, 89%);
}
.headsection{width:1500px;
    border-radius: 10px;
    display:inline-block;
    color:black;
    background-color: white;
}
.login{width:1500px;
    border-radius: 10px;
    background-color: #123347;
}
h4{
    position: relative;
    left:85%;
    color:white;
    cursor: pointer;
    display:inline-block;
}
h4:hover{
    color:pink;
}
.header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    color:khaki;
    display:inline-block;
    margin-left:60px;
}
.list{
    color:black;
    padding:3px;
    display: flex;
    justify-content: space-between;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
    display:inline-block;
    cursor: pointer;
}
li:hover{
    color:pink;
    text-decoration: underline;
}


